In [5]:
from llama_index.packs.diff_private_simple_dataset.simple_dataset import LabelledSimpleDataExample, LabelledSimpleDataset
from llama_index.core.llama_dataset.base import CreatedBy, CreatedByType
import pandas as pd

### Load data

In [3]:
df = pd.read_csv("./data/agnews/train.csv")

In [12]:
class_to_label = {
    1: "World",
    2: "Sports",
    3: "Business",
    4: "Sci/Tech"
}

In [13]:
df["Label"] = df["Class Index"].map(class_to_label)

In [14]:
df.head()

,Class Index,Title,Description,Label
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",Business
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,Business
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,Business
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,Business
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...",Business

### Create LabelledSimpleDataExample

In [16]:
examples = []
for index, row in df.iterrows():
    example = LabelledSimpleDataExample(
        reference_label=row["Label"],
        text=f"{row['Title']} {row['Description']}",
        text_by=CreatedBy(type=CreatedByType.HUMAN)
    )
    examples.append(example)

simple_dataset = LabelledSimpleDataset(examples=examples)

In [17]:
simple_dataset.to_pandas()[:5]

  reference_label                                               text text_by
0        Business  Wall St. Bears Claw Back Into the Black (Reute...   human
1        Business  Carlyle Looks Toward Commercial Aerospace (Reu...   human
2        Business  Oil and Economy Cloud Stocks' Outlook (Reuters...   human
3        Business  Iraq Halts Oil Exports from Main Southern Pipe...   human
4        Business  Oil prices soar to all-time record, posing new...   human

In [18]:
simple_dataset.save_json("agnews.json")

In [21]:
# loaded = LabelledSimpleDataset.from_json("./agnews.json")
# loaded.to_pandas()[:5]

In [27]:
simple_dataset.to_pandas().value_counts("reference_label")

reference_label
Business    30000
Sci/Tech    30000
Sports      30000
World       30000
Name: count, dtype: int64