In [2]:
from llama_index.evaluation import DatasetGenerator, QueryResponseEvaluator
from llama_index import (
    SimpleDirectoryReader,
    VectorStoreIndex,
    ServiceContext,
    LLMPredictor,
    Response,
    Document,
)
from llama_index.llms import OpenAI

In [3]:
reader = SimpleDirectoryReader("../data/paul_graham/")
documents = reader.load_data()
trunc_doc = Document(text="\n".join(documents[0].get_content().split("\n")[::16]))

In [4]:
len(documents[0].get_content())

75011

In [5]:
len(trunc_doc.get_content())

9013

In [6]:
data_generator = DatasetGenerator.from_documents(documents)

We generate question and answer pairs for our document.

In [7]:
qna = data_generator.generate_qna_from_nodes()

In [8]:
qna[:10]

[('What were the two main things the author worked on before college?',
  'Writing and programming.'),
 ('What kind of stories did the author write before college?',
  'Short stories.'),
 ('What programming language did the author use on the IBM 1401?', 'Fortran.'),
 ("What was the author's experience with the 1401?",
  "The author couldn't figure out what to do with it and didn't have any data stored on punched cards."),
 ("What microcomputer did the author's friend build?",
  'A microcomputer kit sold by Heathkit.'),
 ("What kind of computer did the author's father buy?", 'A TRS-80.'),
 ('What did the author write using the TRS-80?',
  'Simple games, a program to predict rocket flight, and a word processor.'),
 ('What did the author plan to study in college initially?', 'Philosophy.'),
 ('What made the author switch to studying AI?',
  'The novel "The Moon is a Harsh Mistress" and seeing Terry Winograd using SHRDLU.'),
 ('What did the author realize about AI during the first year of grad school?',
  'That the way AI was practiced at the time was a hoax.')]

In [9]:
from llama_index.evaluation import SemanticRelationMatch, SemanticAnswerSimilarity
from llama_index.indices.postprocessor import SentenceEmbeddingOptimizer

Let's test if pruning the retrieved nodes to 20% of their original size based on their semantic similarity to the query will adversely affect the performance

In [10]:
ctx = ServiceContext.from_defaults(embed_model="local")
index = VectorStoreIndex.from_documents(documents=documents, service_context=ctx)
query_engine_A = index.as_query_engine()
query_engine_B = index.as_query_engine(
    node_postprocessors=[
        SentenceEmbeddingOptimizer(embed_model=ctx.embed_model, percentile_cutoff=0.2)
    ]
)

/home/jonch/.local/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Next, the relation evaluator scores similarity based on its classification of "contradiction" (-1), "neutral" (0), "entailment" (1) to determine the similarity, while the similarity evaluator outputs a similarity score normalized to length 1

In [11]:
evaluator_rel = SemanticRelationMatch()
evaluator_sim = SemanticAnswerSimilarity()

Now we compare query engine A, which uses the entire source node, with query engine B, which uses 20% of the node.

In [ ]:
import pandas as pd

df = pd.DataFrame(
    columns=[
        "Question",
        "LLM Gen Answer",
        "Answer A",
        "Answer B",
        "rel A",
        "rel B",
        "rel A - rel B",
        "similarity A",
        "similarity B",
        "A - B similarity",
    ]
)
for i, (q, a) in enumerate(qna[:10]):
    a_A = query_engine_A.query(q).response
    a_B = query_engine_B.query(q).response

    rel_A = evaluator_rel.evaluate(q + a, q + " A: " + a_A)
    rel_B = evaluator_rel.evaluate(q + a, q + " A: " + a_B)
    sim_A = evaluator_sim.evaluate(q + a, a_A)
    sim_B = evaluator_sim.evaluate(q + a, a_B)
    # print("res", (q, a, a_A, a_B, rel_A, rel_B, rel_A - rel_B, sim_A, sim_B, sim_A - sim_B))
    df.loc[len(df)] = (
        q,
        a,
        a_A,
        a_B,
        rel_A,
        rel_B,
        rel_A - rel_B,
        sim_A,
        sim_B,
        sim_A - sim_B,
    )

In [24]:
def highlight(row):
    red = "background-color: red;"
    blue = "background-color: blue;"
    green = "background-color: green;"

    return [
        green if row["rel A"] >= 0.0 else red,
        green if row["rel B"] >= 0.0 else red,
        green if row["similarity A"] > 0.5 else red,
        green if row["similarity B"] > 0.5 else red,
    ]


df.style.apply(
    highlight, subset=["rel A", "rel B", "similarity A", "similarity B"], axis=1
)

By inspecting the results, we see that pruning the nodes has affected the correctness on some on the questions. However, we also note that the pipeline still manages to answer many questions correctly. As we can see, the evaluation models are not perfect either but at least give a signal to ease the evaluation process.